body{
  max-width: 100%;
  overflow-x: hidden;
}

#titleDiv {
  background-color: #4D9DE7;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-color: #FFF;
  border-width: 1px;
  top:0;
  width:100%;
  /* Shadow */
  -moz-box-shadow: 0px 5px 5px 0px #9b9b9b;
  -webkit-box-shadow: 0px 5px 5px 0px #9b9b9b;
  -o-box-shadow: 0px 5px 5px 0px #9b9b9b;
  box-shadow: 0px 5px 5px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=5);
}

#title{
  font-weight: bold;
  color: white;
  padding-left: 5px;
}

#nuageMagiqueLogo{
	height: auto;
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}