.square {
    background: #fff;
    border-style: outset;
    margin-left: 15%;
    margin-right: 15%;
}
.square h1 {
    color: #000;
}

.square img {
    width:50%;
    height:50%;
}

.wrapper {
    text-align: center;
}

#connectionButton {
    font-weight: bold;
    background-color: #6DC066;
    border: none;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
