<div class="wrapper">
  <button type="button" id="enterButton">Entrez dans l'application</button>
  <div class="row">
    <div class="col-md-4">
      <div class="square">
          <h1>Google Drive</h1>
          <img src="assets/googleDrive.png">
          <input type="text" class="form-control" placeholder="Adresse email" aria-describedby="sizing-addon2">
          <input type="text" class="form-control" placeholder="Mot de passe" aria-describedby="sizing-addon2">
          <button type="button" id="connectionButton">Entrez dans l'application</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="square">
          <h1>DropBox</h1>
          <img src="assets/dropbox.png">
          <input type="text" class="form-control" placeholder="Adresse email" aria-describedby="sizing-addon2">
          <input type="text" class="form-control" placeholder="Mot de passe" aria-describedby="sizing-addon2">
          <button type="button" id="connectionButton">Entrez dans l'application</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="square">
          <h1>OneDrive</h1>
          <img src="assets/onedrive.png">
          <input type="text" class="form-control" placeholder="Adresse email" aria-describedby="sizing-addon2">
          <input type="text" class="form-control" placeholder="Mot de passe" aria-describedby="sizing-addon2">
          <button type="button" id="connectionButton">Entrez dans l'application</button>
      </div>
    </div>
  </div>
</div>
