.wrapper {
    text-align: center;
}

#connectionButton {
    font-weight: bold;
    background-color: #6DC066;
    border: none;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

#enterButton {
    font-weight: bold;
    background-color: #2c5d9d;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 10px;
    margin-bottom: 20px;
}

.square {
    background: #fff;
    border-style: outset;
    margin-left: 15%;
    margin-right: 15%;
}
.square h1 {
    color: #000;
}

.square img {
    width:25%;
    height:25%;
}

.square input {
    width:50%;
    height:50%;
    margin-left:25%;
    margin-right: 25%;
    margin-top: 5px;
}
