<div class="square">
    <h1 id='{{name}}'>{{name}}</h1>
    <img class="srcIcon" src="assets/{{name | lowercase}}.png">
    <br>

    <!-- IF NOT CONNECTED -->
    <button [hidden]="isConnected" type="button" id="connectionButton{{name}}" class="connectionButton" (click)="connect()">Se connecter</button>

    <!-- IF CONNECTED : -->
	<div [hidden]="!isConnected" class="infos">
    <div class="row">
      <div class="col-md-10">
        <img id="pp{{name}}" class="pp" src="{{ppURL}}">
    		<p><strong>{{userName}}</strong></p>
    		<p id="connectionStatus">{{(isConnected) ? "Connecté" : "Non connecté"}}</p>
      </div>
      <div class="col-md-2">
        <img class="cancel" src ="../../assets/error.png" (click)="disconnect()">
      </div>

    </div>
	</div>
</div>
