<div class="square">
    <h1 id='{{name}}'>{{name}}</h1>
    <img class="srcIcon" src="assets/{{name | lowercase}}.png">
    <br>

    <!-- IF NOT CONNECTED -->
    <button [hidden]="isConnected" type="button" id="connectionButton{{name}}" class="connectionButton" (click)="connect(name)">Se connecter</button>

    <!-- IF CONNECTED : -->
	<div [hidden]="!isConnected" class="infos">
		<img id="pp{{name}}" height="20%" width="20%" src="{{ppURL}}">
		<p><strong>{{userName}}</strong></p>
		<p id="connectionStatus">{{(isConnected) ? "Connecté" : "Non connecté"}}</p>
	</div>
</div>
