#divCheckBox{
  text-align: center;
}

#divSettings{
  text-align: right;
}

.checkBox{
  margin-left:5%;
}

#settings{
  width:25%;
  height:25%;
  margin-right: 5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
