  <div class="row">
    <div class="col-md-2">
      <button id="buttonReturn" class="btn disabled" (click)="goBack()">
        <img id="imgReturn" src="assets/return.png">
      </button>
    </div>
    <div class="col-md-2">
      <p>Current folder : {{rootFolder.name}}</p>
    </div>

    <div id="divCheckBox" class="col-md-5 ">

      <div class="material-switch">
        Google Drive
        <input id="switchGD" type="checkbox"/>
        <label for="switchGD" class="label-default"></label>
      </div>

      <div class="material-switch">
        Dropbox
        <input id="swtichDB" type="checkbox"/>
        <label for="swtichDB" class="label-default"></label>
      </div>

      <div class="material-switch">
        OneDrive
        <input id="switchOD" type="checkbox"/>
        <label for="switchOD" class="label-default"></label>
      </div>

    </div>

    <div id="divSettings" class="col-md-2">
      <img id="settings" class="validate" src="assets/ic_settings_black_24dp_2x.png">
    </div>

  </div>
<table id="fileTable">
  <tr id="headerTable">
    <!-- <th>ID</th> -->
    <th>NOM</th>
    <th>TYPE</th>
    <th>SIZE</th>
  </tr>
    <tr class="lign" *ngFor="let file of rootFolder.childrens" (click) = "goInSelectedFolder(file)">
        <!-- <td *ngIf="canBeDisplayed(file)" >{{ file.id }}</td> -->
        <td>{{ file.name }}</td>
        <td><img src="{{file.getIconURL()}}"></td>
        <td>{{ file.size }}</td>
    </tr>
</table>
