<div id ="connexion" class="wrapper">
  <button type="button" id="enterButton" (click)="enterInApp()">Entrez dans l'application</button>
  <div class="row">
    <div class="col-md-4">
      <connexion-drive name="GoogleDrive">Loading...</connexion-drive>
    </div>
    <div class="col-md-4">
      <connexion-drive name="Dropbox">Loading...</connexion-drive>
    </div>
    <div class="col-md-4">
      <connexion-drive name="OneDrive">Loading...</connexion-drive>
    </div>
  </div>
</div>

<div #parent></div>
