.wrapper {
    text-align: center;
}

#enterButton {
    font-weight: bold;
    background-color: #2c5d9d;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 10px;
    margin-bottom: 20px;
}

#drivePage{
  display: none;
}
