<div class="wrapper">
  <button type="button" id="enterButton">Entrez dans l'application</button>
  <div class="row">
    <div class="col-md-4">
      <app-connexion-component-drive name="GoogleDrive">Loading...</app-connexion-component-drive>
    </div>
    <div class="col-md-4">
      <app-connexion-component-drive name="Dropbox">Loading...</app-connexion-component-drive>
    </div>
    <div class="col-md-4">
      <app-connexion-component-drive name="OneDrive">Loading...</app-connexion-component-drive>
    </div>
  </div>
</div>
